* {
	padding: 0;
	margin: 0;
}
body {
	// background-image: radial-gradient(#c3c8d5, #5e6a87);
	background-image: radial-gradient(#bbc1cc, #abb6cd); // أزرق
	// background-image: radial-gradient(#d3eee0, #abc6b8); // أخضر

	/* font-family: 'Reem Kufi', sans-serif; */
	font-family: 'Tajawal', 'Prosto One', sans-serif;
	/* 100 */
	/* font-family: 'Amiri', serif; */
	/* font-family: 'Changa', sans-serif; // 100  */
	/* font-family: 'El Messiri', sans-serif; // 100 */
	/* font-family: 'Lateef', cursive; */
	/* font-family: 'Mada', sans-serif; */
	/* font-family: 'Baloo Bhaijaan', cursive; */
	/* font-family: 'Lemonada', cursive; */
	/* font-family: 'Markazi Text', serif; // 50 */
	/* font-family: 'Harmattan', sans-serif; */
	/* font-family: 'Aref Ruqaa', serif; */
	/* font-family: 'Jomhuria', cursive; */
	/* font-family: 'Rakkas', cursive; */
	/* font-family: 'Katibeh', cursive; */
	/* font-family: 'Prosto One', cursive; */
}

// .navbar-laravel {
// 	background-color: #fff;
// 	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
// }
.h-navbar-bg {
	background-color: #465573; // أزرق
	// background-color: #536d60; // أخضر
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.navbar {
	margin: 0;
	margin-bottom: 0;
}
footer {
	position: fixed;
	// height: 100px;
	bottom: 0;
	width: 100%;
}
.bg-thead {
	background: #bccad6; // أزرق
	// background: #a0b6ab; // أخضر
}







* {
	padding: 0;
	margin: 0;
}
/* some coloring edit on the site */

body {
	/* background-color: #f8fafc; */
	background-image: radial-gradient(#abb6cc, #f8fafc);
	/* background-image: radial-gradient(#bbc1cc, #abb6cd); */
  background-image: radial-gradient(#bbc1cc, #abb6cd);
  /* font-family: 'Reem Kufi', sans-serif; */
  font-family: "Tajawal", "Prosto One", sans-serif;
  /* 100 */
  /* font-family: 'Amiri', serif; */
  /* font-family: 'Changa', sans-serif; // 100  */
  /* font-family: 'El Messiri', sans-serif; // 100 */
  /* font-family: 'Lateef', cursive; */
  /* font-family: 'Mada', sans-serif; */
  /* font-family: 'Baloo Bhaijaan', cursive; */
  /* font-family: 'Lemonada', cursive; */
  /* font-family: 'Markazi Text', serif; // 50 */
  /* font-family: 'Harmattan', sans-serif; */
  /* font-family: 'Aref Ruqaa', serif; */
  /* font-family: 'Jomhuria', cursive; */
  /* font-family: 'Rakkas', cursive; */
  /* font-family: 'Katibeh', cursive; */
  /* font-family: 'Prosto One', cursive; */
}

.h-navbar-bg {
	background-color: #465573;
}

.bg-thead {
	background: #334a5e;
	color: #fff;
}
th {
	vertical-align: middle !important;
	border: 1px solid rgb(255, 255, 255) !important;
}
td {
	vertical-align: middle !important;
	border: 1px solid rgb(0, 0, 0) !important;
}
.text-primary {
	// color: ;
}

.btn-primary {
	color: #fff;
	/* background-color: #2c3e50; */
	background-color: #465573;
	border-color: #465573;
}
.btn-primary:hover {
	background-color: #3f4c66;
	border-color: #3f4c66;
}

.btn-secondary {
	color: #fff;
	background: #718096;
	border-color: #718096;
}
.btn-secondary:hover {
	color: #fff;
	background: #4a5568;
	border-color: #4a5568;
}
.btn-success {
	color: #fff;
	/* background: #38b2ac; */

	background: #006e6d;
	background-color: #006e6d;
}
.btn-success:hover {
	/* background: #319795; */
	background: #005a58;
	background-color: #005a58;
}

.btn-warning,
.alert-warning {
	color: #fff;
	background: #615286;
	background-color: #615286;
}
.btn-warning:hover {
	color: #fff;
	background: #564977;
	background-color: #564977;
}
.btn-danger {
	color: #fff;
	background: #9d1d11;
	background-color: #9d1d11;
}
.btn-danger:hover {
	color: #fff;
	background: #83180f;
	background-color: #83180f;
}
.btn-info {
	background: #335589;
	background-color: #335589;
}
.btn-info:hover {
	background: #264067;
	background-color: #264067;
}
.btn-link,
.nav-link {
	color: #335589;
}
.btn-link:hover,
.nav-link:hover {
	color: #264067;
}

.alert-warning > .btn-link {
	color: #fff;
}
