// ========================VARIABLES==============================================++
// *Body
// $body-bg: #f8fafc; // لون أبيض فقط
$body-bg: #abb6cc, #f8fafc; // أزرق
// $body-bg: #d3eee0, #abc6b8; // أخضر
// --------------------------------------------
// *Fonts
// $body-font: "Tajawal", "Prosto One", sans-serif; // 100
// $body-font: 'Changa', sans-serif; // 100
// $body-font: "El Messiri", sans-serif; // 100
$body-font: "Markazi Text", serif; // 50
// $body-font: "Reem Kufi", sans-serif;
// $body-font: 'Amiri', serif;
// $body-font: 'Lateef', cursive;
// $body-font: 'Mada', sans-serif;
// $body-font: 'Baloo Bhaijaan', cursive;
// $body-font: 'Lemonada', cursive;
// $body-font: 'Harmattan', sans-serif;
// $body-font: 'Aref Ruqaa', serif;
// $body-font: 'Jomhuria', cursive;
// $body-font: 'Katibeh', cursive;
// $body-font: "Reem Kufi", sans-serif;
// $body-font: 'Prosto One', cursive;
// --------------------------------------------
// *Colors

$nav-bg: #465573; // أزرق
// $nav-bg: #536d60; // أخضر
$shadow1: 0 2px 4px rgba(0, 0, 0, 0.04);
// $tb-border:

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$bg1: #bbc1cc;
$bg1: #abb6cd;
$test1: #5d5c61;
$test2: #379683;
$test3: #7395ae;
$test4: #557a95;
$test5: #b1a296;
$test6: #465573;
$test7: #394663;
$test8: #bbc1cc;
$test9: #738dc6;
$test10: #657aa5;
$test11: #bccad6;
$g_test01: #2c473a;
$g_test02: #536d60;
$g_test03: #abc6b8;
// ========================END VARIABLES==========================================++

// ========================TAGS===================================================++
body {
  background-image: radial-gradient($body-bg);
  font-family: $body-font;
  font-size: 1.2rem;
}

th {
  vertical-align: middle !important;
  border: 1px solid rgb(255, 255, 255);
}
td {
  vertical-align: middle !important;
  border: 1px solid rgb(0, 0, 0);
}
label {
  text-transform: capitalize;
}
// ========================END TAGS===============================================++

// ========================CLASSES================================================++
.h-navbar-bg {
  background-color: $nav-bg;
  box-shadow: $shadow1;
}
.bg-thead {
  background: #334a5e;
  color: #fff;
  text-transform: capitalize;
}

// *BUTTONS
.btn-primary {
  color: #fff;
  background-color: #465573;
  border-color: #465573;
  &:hover {
    background-color: #3f4c66;
    border-color: #3f4c66;
  }
}

.btn-secondary {
  color: #fff;
  background: #718096;
  border-color: #718096;
  &:hover {
    color: #fff;
    background: #4a5568;
    border-color: #4a5568;
  }
}

.btn-success {
  color: #fff;
  background: #006e6d;
  background-color: #006e6d;
  &:hover {
    background: #005a58;
    background-color: #005a58;
  }
}

.btn-warning {
  color: #fff;
  background: #615286;
  background-color: #615286;
  &:hover {
    color: #fff;
    background: #564977;
    background-color: #564977;
  }
}

.btn-danger {
  color: #fff;
  background: #9d1d11;
  background-color: #9d1d11;
  &:hover {
    background: #83180f;
    background-color: #83180f;
  }
}

.btn-info {
  background: #335589;
  background-color: #335589;
  &:hover {
    background: #264067;
    background-color: #264067;
  }
}

.btn-link,
.nav-link {
  color: #335589;
  &:hover {
    color: #264067;
  }
}

.alert-warning {
  color: #fff;
  background: #615286;
  background-color: #615286;
}
.alert-warning > .btn-link {
  color: #fff;
}
// ========================END CLASSES============================================++
