body {
    background-image: radial-gradient( #c3c8d5,
    #5e6a87);

    /* font-family: 'Reem Kufi', sans-serif; */
    font-family: 'Tajawal', 'Prosto One', sans-serif;
    /* 100 */
    /* font-family: 'Amiri', serif; */
    /* font-family: 'Changa', sans-serif; // 100  */
    /* font-family: 'El Messiri', sans-serif; // 100 */
    /* font-family: 'Lateef', cursive; */
    /* font-family: 'Mada', sans-serif; */
    /* font-family: 'Baloo Bhaijaan', cursive; */
    /* font-family: 'Lemonada', cursive; */
    /* font-family: 'Markazi Text', serif; // 50 */
    /* font-family: 'Harmattan', sans-serif; */
    /* font-family: 'Aref Ruqaa', serif; */
    /* font-family: 'Jomhuria', cursive; */
    /* font-family: 'Rakkas', cursive; */
    /* font-family: 'Katibeh', cursive; */
    /* font-family: 'Prosto One', cursive; */
}

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  }