$font-path: "../fonts/Markazi2.ttf";
// src: url('#{$fa-font-path}/quicksand-v7-latin-regular.eot');
@font-face {
	font-family: Markazi;
	src: url("../fonts/majalla.ttf");
	// font-weight: 500;
}

body {
	font-family: "Markazi", sans-serif;
}
