/* grid */

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}

header {
  height: 100%;
  padding-bottom: 15px;
  //   background: red;
}

main {
  margin: 0 !important;
  padding-bottom: 20px;
  //   padding-top: 88px;
}

footer {
  //   position: fixed;
  //   bottom: 0;
  //   width: 100%;
  //   background: green;
  //   margin: 0 !important;
}
