/* grid */

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  grid-gap: 0px;
}

header {
  height: 100%;
  // padding-bottom: 6px;
  //   background: red;
}

main {
  margin: 0 !important;
  // padding-bottom: 20px;
  // ------------------------------
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 0px;
  grid-template-areas: "sidbar" "content";
  height: min-content;
}

.app {
  grid-area: "content";
  overflow-y: auto;
  padding: 1rem 1rem 1rem 1rem;
}

.sidebar {
  grid-area: "sidbar";
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 0vw;
  height: 100%;
  transition: all 0.4s;
}

footer {
  padding: 1.2rem 0 1.2rem 0;
  display: grid;
  //   grid-template-columns: min-content 1fr min-content;
  grid-template-columns: 1fr 1fr 1fr;
}

.Scroll-up-btn-container {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #335589;
  display: inline-block;
  border-radius: 50px;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  opacity: 0.3;
  &:hover {
    opacity: 1;
  }
}

.Scroll-up-btn {
  cursor: pointer;

  & :hover {
    cursor: pointer;
  }
}

.Scroll-up-btn-icon {
  margin-top: 20px;
}
