// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$bg1: #bbc1cc;
$bg1: #abb6cd;
$test1: #5d5c61;
$test2: #379683;
$test3: #7395ae;
$test4: #557a95;
$test5: #b1a296;

$test6: #465573;
$test7: #394663;
$test8: #bbc1cc;
$test9: #738dc6;
$test10: #657aa5;
