@import "fonts.css";

* {
	padding: 0;
	margin: 0;
}

body {
	background-image: radial-gradient(#bbc1cc, #abb6cd);
}

.h-navbar-bg {
	background-color: #465573;
	/* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04); */
}

.bg-thead {
	background: #bccad6;
}

/* ============================================================ */
/* matiral desing  */

.btn,
.navbar,
input,
textarea,
.card,
.card-header {
	border-radius: 2px !important;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12) !important;
}

.btn {
	margin: .375rem;
	text-transform: uppercase;
	word-wrap: break-word;
	cursor: pointer;
	border: 0;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out,
		box-shadow .15s ease-in-out;
	padding: .84rem 2.14rem;
	border-radius: 30px !important;
}

input,
textarea {
	min-height: 3rem !important;
	border: none;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1), 0 1px 1px 0 rgba(0, 0, 0, .1) !important;
	/* background-color: #ebebeb !important; */
}
.btn,
input,
.navbar,
textarea,
.card,
.card-header {
	border-radius: 0 !important;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12) !important;
}

/* ============================================================ */
/* grid */

.wrapper {
	/* background: blue; */
	min-height: 100vh;
	display: grid;
	grid-template-rows: max-content 100% max-content;
}

header {
	/* background: red; */
	padding-bottom: 15px;
	height: 100%;
}

main {
	margin: 0 !important;
	/* padding-top: 88px; */
	padding-bottom: 12px;

	/* background: burlywood; */
}

footer {
	/* background: green; */
	/* margin: 0 !important; */
}
