@import url(https://fonts.googleapis.com/css?family=Nunito);
* {
	padding: 0;
	margin: 0;
}

body {
	/* grid-template-areas: "header" "main" "footer"; */
	background-image: radial-gradient(#bbc1cc, #abb6cd);
	/* font-family: 'Reem Kufi', sans-serif; */
	font-family: "Tajawal", "Prosto One", sans-serif;
	/* 100 */
	/* font-family: 'Amiri', serif; */
	/* font-family: 'Changa', sans-serif; // 100  */
	/* font-family: 'El Messiri', sans-serif; // 100 */
	/* font-family: 'Lateef', cursive; */
	/* font-family: 'Mada', sans-serif; */
	/* font-family: 'Baloo Bhaijaan', cursive; */
	/* font-family: 'Lemonada', cursive; */
	/* font-family: 'Markazi Text', serif; // 50 */
	/* font-family: 'Harmattan', sans-serif; */
	/* font-family: 'Aref Ruqaa', serif; */
	/* font-family: 'Jomhuria', cursive; */
	/* font-family: 'Rakkas', cursive; */
	/* font-family: 'Katibeh', cursive; */
	/* font-family: 'Prosto One', cursive; */
}

.h-navbar-bg {
	background-color: #465573;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar {
	margin: 0;
	margin-bottom: 0;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.bg-thead {
	background: #bccad6;
}

/* ============================================================ */
/* matiral desing  */

.btn {
	margin: .375rem;
	text-transform: uppercase;
	word-wrap: break-word;
	cursor: pointer;
	border: 0;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out,
		box-shadow .15s ease-in-out;
	padding: .84rem 2.14rem;
}

.btn,
.navbar,
input,
textarea,
.card,
.card-header {
	border-radius: 0 !important;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12) !important;
}

/* ============================================================ */
/* grid */

body {
	min-height: 100vh;
	display: grid;
	/* grid-template-rows: 1fr 100% 1fr;
	grid-gap: 6px; */
}

header {
	grid-row: 1 / 2;
}

main {
	grid-row: 2 / 3;
}
footer {
	grid-row: 3 / 4;
}

#app {
	margin-top: 1rem;
	/* display: grid; */
}
