@import "reset.css";
@import "normalize.css";
@import "fonts.css";

* {
	padding: 0;
	margin: 0;
}
/* some coloring edit on the site */
body {
	background-image: radial-gradient(#bbc1cc, #abb6cd);
}

.h-navbar-bg {
	background-color: #465573;
}

.bg-thead {
	background: #bccad6;
}
.text-primary {
	color: ;
}

.btn-primary {
	color: #fff;
	/* background-color: #2c3e50; */
	background-color: #465573;
	border-color: #465573;
}
.btn-primary:hover {
	background-color: #3f4c66;
	border-color: #3f4c66;
}

.btn-secondary {
	color: #fff;
	background: #718096;
	border-color: #718096;
}
.btn-secondary:hover {
	color: #fff;
	background: #4a5568;
	border-color: #4a5568;
}
.btn-success {
	color: #fff;
	/* background: #38b2ac; */

	background: #006e6d;
	background-color: #006e6d;
}
.btn-success:hover {
	/* background: #319795; */
	background: #005a58;
	background-color: #005a58;
}

.btn-warning,
.alert-warning {
	color: #fff;
	background: #615286;
	background-color: #615286;
}
.btn-warning:hover {
	color: #fff;
	background: #564977;
	background-color: #564977;
}
.btn-danger {
	color: #fff;
	background: #9d1d11;
	background-color: #9d1d11;
}
.btn-danger:hover {
	color: #fff;
	background: #83180f;
	background-color: #83180f;
}
.btn-info {
	background: #335589;
	background-color: #335589;
}
.btn-info:hover {
	background: #264067;
	background-color: #264067;
}
.btn-link {
	color: #335589;
}
.btn-link:hover {
	color: #264067;
}

.alert-warning > .btn-link {
	color: #fff;
}

/* ============================================================ */
/* matiral desing  */

.btn,
.navbar,
input,
textarea,
.card,
.card-header {
	border-radius: 2px !important;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12) !important;
}

.btn {
	margin: .375rem;
	text-transform: uppercase;
	word-wrap: break-word;
	cursor: pointer;
	border: 0;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out,
		box-shadow .15s ease-in-out;
	/* padding: .84rem 2.14rem; */
	border-radius: 300px !important;
}

input,
hr,
.navbar,
textarea,
.card,
.card-header,
.alert {
	border-radius: 0 !important;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12) !important;
}

input,
select,
textarea {
	min-height: 3rem !important;
	border: none;
	box-shadow: inset 1px 1px 10px rgba(150, 180, 200, 0.35), 2px 4px 10px rgba(150, 180, 200, 0.35) !important;
}
input.form-check-input {
	min-height: 0 !important;
	position: static;
}

.btn {
	margin-top: 1em;
	/* margin-bottom: 0.5em; */
	border-radius: 50px !important;
	font-size: 105%;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12) !important;
}
.btn-link {
	margin-top: 0;
	border-radius: 0 !important;
	box-shadow: none !important;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

/* ============================================================ */
/* grid */

.wrapper {
	/* background: blue; */
	min-height: 100vh;
	display: grid;
	grid-template-rows: max-content 1fr max-content;
}

header {
	/* background: red; */
	padding-bottom: 15px;
	height: 100%;
}

main {
	margin: 0 !important;
	/* padding-top: 88px; */
	padding-bottom: 12px;

	/* background: burlywood; */
}

footer {
	/* background: green; */
	/* margin: 0 !important; */
}
